<!DOCTYPE html>
<html>
  <head>
    <title>SemanticsExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="m-0">
    <div class="min-h-screen grid grid-cols-12">
        <%= render 'layouts/navbar' %>
      <main class="col-span-10 p-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
